@font-face {
    font-family: Google Sans Display;
    src: url(assets/GoogleSans.ttf);
}

body {
    background: #D4FFCD;
    display: flex;
    padding: 2.3125rem 2.3125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}
.disabled{
    margin-left: 0;
    margin-right: 0;
}
#main {
    width: 100%;
    background: #00644C;
    border-radius: 28px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 86px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    border: red;
    border-width: 20px;
}


.container {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}
.text{
    font-family: Google Sans Display;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #D4FFCD;
    opacity: 0;
    margin-top: 10px;
}
.logo {
    opacity: 0;
    transition: opacity 0.5s;
    src: url(addfile.svg);
}

.boxhov .logo {
    opacity: 1;
}
.box:hover .logo {
    opacity: 1;
}

h1 {
    top: 20px;
    left: 80px;
    color: #308F50;
    font-size: min(10vw, 10vh);
    font-family: Google Sans Display;
    font-weight: 700;
    word-wrap: break-word
}

.box {
    border: 20px solid #D4FFCD;
    border-width: 20px;
    width: 1vw;
    height: max(16vw, 16vh);
    padding: 27px;
    background: #308F50;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: width 0.5s, height 0.5s;
    /* Combine transitions into one declaration */
}

.box:hover {
    width: 8vw;
}
.boxhov {
    width: 8vw;
    width: 8vw;
}